.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 24px;
    
    max-width: 95%;
    margin: auto 0;
    margin-top: 80px;
    
}

.gif {
    max-width: 95%;
}
